{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="span9">
    <ul class="breadcrumb">
		<li><a href="/">Home</a> <span class="divider">/</span></li>
		<li class="active">Password reset complete</li>
    </ul>
	<h3> PASSWORD RESET COMPLETE AND SUCCESSFUL</h3>	
	<hr class="soft"/>
	
	<div class="row">
		<div class="span9" style="min-height:900px">
			<div class="well">
			<h5>Your password has been set</h5><br/>
			<p>You may go ahead and log in your account now</p>
			<p><a style="color:blue" href="{% url 'Store:login' %}">Log in</a></p>
		</div>
		</div>
	</div>	
	
</div>
</div>
</div>
</div>
<!-- MainBody End ============================= -->
{% endblock %}
