{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="span9">
    <ul class="breadcrumb">
		<li><a href="/">Home</a> <span class="divider">/</span></li>
		<li class="active">Update password</li>
    </ul>
	<h3> UPDATE PASSWORD</h3>	
	<hr class="soft"/>
	
	<div class="row">
		<div class="span9" style="min-height:900px">
			<div class="well">
			<h5>Enter your new password</h5><br/>
			Please enter your new password twice so we can verify you typed it correctly<br/><br/><br/>
			<form method="post">
				{% csrf_token %}
			  <div class="control-group">
				<div class="controls">
				{{form.as_p}}
				</div>
			  </div>
			  <div class="controls">
			  <button type="submit" class="btn block" name="Update Password">Submit</button>
			  </div>
			</form>
		</div>
		</div>
	</div>	
	
</div>
</div>
</div>
</div>
<!-- MainBody End ============================= -->
{% endblock %}
