{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="span9">
    <ul class="breadcrumb">
		<li><a href="/">Home</a> <span class="divider">/</span></li>
		<li class="active">Reset password sent</li>
    </ul>
	<h3> PASSWORD RESET SENT</h3>	
	<hr class="soft"/>
	
	<div class="row">
		<div class="span9" style="min-height:900px">
			<div class="well">
			<h5>Password reset sent</h5><br/>
			We've emailed you instructions for setting your password. If an account exists with the email you entered, you should receive them shortly. If you don't receive an email, please make sure you have entered the email address you registered with, or check your spam folder<br/><br/><br/>
		</div>
		</div>
	</div>	
	
</div>
</div>
</div>
</div>
<!-- MainBody End ============================= -->
{% endblock %}
