{% load static %}

<!-- Sidebar ================================================== -->
<div id="sidebar" class="span3">
	<div class="well well-small"><a id="myCart" href="{% url 'Store:cart' %}"><img src="{% static 'themes/images/ico-cart.png' %}" alt="cart">{{item_total}} Item(s) <span class="badge badge-warning pull-right">{{company.currency_symbol}}{{total}}</span></a></div>
	<ul id="sideManu" class="nav nav-tabs nav-stacked">
		{% for category in categories %}
		<li class="subMenu open"><a> <span class="category">{{category}}</span> [{{category.productcategory_set.all.count}}]</a>
			<ul>
			{% for product_category in category.productcategory_set.all %}
			<li><a class="active" href="{% url 'Store:category' product_category.id %}"><i class="icon-chevron-right"></i><span class="category">{{product_category}}</span> ({{product_category.product_set.all.count}}) </a></li>
			{% endfor %}
			</ul>
		</li>
		{% endfor %}
	</ul>
	<br/>
	<h5>Products you may like</h5><br/>
		{% for hot_product in random_products %}
		<div class="thumbnail">
		{% if hot_product.image1 %}
		<img src="{{hot_product.image1.url}}" alt="{{hot_product.name}}"/>
		{% else %}
		<img src="{{hot_product.image_url1}}" alt="{{hot_product.name}}"/>
		{% endif %}
		<div class="caption">
			<h5 style="text-transform: capitalize;">{{hot_product.name}}</h5>
			<h4 style="text-align:center"><a class="btn" href="{% url 'Store:detail' hot_product.id %}"> <i class="icon-zoom-in"></i></a> <a class="btn btn-primary" href="#">{{company.currency_symbol}}{{hot_product.discount_price}}</a> <!--<a class="btn update-cart" data-product="{{ product.id }}" data-action="add">Add to <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">{{company.currency_symbol}}{{hot_product.discount_price}}</a>--></h4>
		</div>
		</div><br/>
		{% endfor %}

		<div class="thumbnail">
			<img src="{% static 'themes/images/payment_methods.png' %}" title="Bootshop Payment Methods" alt="Payments Methods">
			<div class="caption">
				<h5>Payment Methods</h5>
			</div>
		</div>
</div>
<!-- Sidebar end=============================================== -->